<!--not logged in -->
<!-- <div id="dealer-nav">
  <div class="container">
    <a href="dealer-login.html" class="btn btn-secondary pull-right">Dealer Login</a>
  </div>
</div> -->
<!--logged in-->
<div id="dealer-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="account-name">
          <p><span>Welcome, Marnie Styles</span>&nbsp;&nbsp;&nbsp;<a href="" class="">Sign out</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="cart-info">
          <p><i class="fa fa-shopping-cart"></i>&nbsp;
            <a href="review-order.html">(0 items) | $0.00 USD</a>&nbsp;&nbsp;
            <a class="btn btn-success btn-sm" href="review-order.html">Checkout</a>
            <a class="btn btn-secondary btn-sm" href="current-account-info.html">My account</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
