<!--not logged in -->
<!-- <div id="dealer-nav">
  <div class="container">
    <a href="dealer-login.html" class="btn btn-secondary pull-right">Dealer Login</a>
  </div>
</div> -->
<!--logged in-->
<div id="dealer-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Welcome, Marnie Styles</p>
      </div>
      <div class="col-md-6">
        <a class="btn btn-secondary btn-sm pull-right" href="">Sign out</a>
        <a class="btn btn-success btn-sm pull-right" href="">My account</a>
        <p class="pull-right"><i class="fa fa-shopping-cart"></i> <a href="">(0 items)</a> | Total <a href="">$0.00 USD</a></p>
      </div>
    </div>
  </div>
</div>
