<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul id="my-account-menu" class="nav nav-pills">
        <li role="presentation" class="active"><a href="current-account-info.html">My Account</a></li>
        <li role="presentation"><a href="my-catalogue.html">My Catalogue</a></li>
        <li role="presentation"><a href="my-orders.html">My Orders</a></li>
        <li role="presentation"><a href="my-password.html">My Password</a></li>
        <li role="presentation"><a href="terms-conditions.html">Terms & Conditions</a></li>
      </ul>
    </div>
  </div>
</div>
