<div id="parts-identification-blowouts" class="row">
  <div class="col-md-12">
    <h2>Parts Identification Blowout Sheets</h2>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>

<div id="wiring-diagrams" class="row">
  <div class="col-md-12">
    <h2>Wiring Diagrams</h2>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>

<div id="service-photos" class="row">
  <div class="col-md-12">
    <h2>Service Photos</h2>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/350x250" alt="" class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>
<div id="service-videos" class="row">
  <div class="col-md-12">
    <h2>Service Videos</h2>
  </div>
  <div class="col-md-3">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hACG9u8qPfs" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-3">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hACG9u8qPfs" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Parts</h2>
  </div>
  <div class="col-md-12">
    <table class="table table-responsive table-striped product-table">
      <thead>
        <tr>
          <th>Ref #</th>
          <th>Product</th>
          <th></th>
          <th>List</th>
          <th>Dealer</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="cell-reference-number"></td>
          <td class="cell-product-number">CLF-4520</td>
          <td class="cell-product-name">Premier Fog Effects Generator 120V</td>
          <td class="cell-price">$1400.00</td>
          <td class="cell-price">$1400.00</td>
          <td class="cell-quantity">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-minus"></i>
                </button>
              </span>
              <input type="text" class="form-control" placeholder="0">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </div>
          </td>
          <td class="cell-buy">
            <a href="" class="btn btn-secondary">Add to Cart</a>
          </td>
        </tr>
        <tr>
          <td class="cell-reference-number"></td>
          <td class="cell-product-number">CLF-4520</td>
          <td class="cell-product-name">Premier Fog Effects Generator 120V</td>
          <td class="cell-price">$1400.00</td>
          <td class="cell-price">$1400.00</td>
          <td class="cell-quantity">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-minus"></i>
                </button>
              </span>
              <input type="text" class="form-control" placeholder="0">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </div>
          </td>
          <td class="cell-buy">
            <a href="" class="btn btn-secondary">Add to Cart</a>
          </td>
        </tr>
        <tr>
          <td class="cell-reference-number"></td>
          <td class="cell-product-number">CLF-4520</td>
          <td class="cell-product-name">Premier Fog Effects Generator 120V</td>
          <td class="cell-price">$1400.00</td>
          <td class="cell-price">$1400.00</td>
          <td class="cell-quantity">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-minus"></i>
                </button>
              </span>
              <input type="text" class="form-control" placeholder="0">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </div>
          </td>
          <td class="cell-buy">
            <a href="" class="btn btn-secondary">Add to Cart</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
