<div class="row">
  <!--PRODUCT FEATURES-->
  <div id="features" class="col-md-6">
    <h2>Features</h2>
    <ul>
      <li>Continuous Fog Output</li>
      <li>Rapid Change Heat Exchanger Design</li>
      <li>On-Board DMX/RDM Control</li>
      <li>Microprocessor Controlled</li>
      <li>Heavy Duty Powder Coated Chassis</li>
      <li>Electromechanical Over Temperature Protection</li>
      <li>Stainless Steel Chassis</li>
      <li>Includes a Rapid Change Replacement Kit</li>
      <li>Easy to Address DMX Touch Button Selector</li>
      <li>Illuminated Fog Ready Switch on Remote</li>
      <li>Includes Full Function Timer Remote Control</li>
    </ul>
  </div>
  <!--END OF PRODUCT FEATURES-->
  <!--RECOMMENDED FLUIDS SECTION-->
  <div id="recommended-fluids" class="col-md-6">
    <h2>Recommended Fluid</h2>
    <ul class="list-group">
      <a href="" class="list-group-item">
        <img src="http://placehold.it/30x30" alt="" class="img-responsive"> Cras justo odio
      </a>
      <a href="" class="list-group-item">
        <img src="http://placehold.it/30x30" alt="" class="img-responsive"> Cras justo odio
      </a>
      <a href="" class="list-group-item">
        <img src="http://placehold.it/30x30" alt="" class="img-responsive"> Cras justo odio
      </a>
      <a href="" class="list-group-item">
        <img src="http://placehold.it/30x30" alt="" class="img-responsive"> Cras justo odio
      </a>
      <a href="" class="list-group-item">
        <img src="http://placehold.it/30x30" alt="" class="img-responsive"> Cras justo odio
      </a>
      <a href="" class="list-group-item">
        <i class="fa fa-download"></i> Download Fluid Recommendation Chart
      </a>
    </ul>
  </div>
  <!--END OF RECOMMENDED FLUIDS SECTION-->
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <!--SPECIFICATIONS SECTION-->
    <h2>Specifications</h2>
    <table id="specifications-table">
      <tr>
        <td>Length:</td>
        <td>21 in / 56 cm</td>
      </tr>
      <tr>
        <td>Width:</td>
        <td>21 in / 56 cm</td>
      </tr>
      <tr>
        <td>Height:</td>
        <td>21 in / 56 cm</td>
      </tr>
      <tr>
        <td>Net Weight:</td>
        <td>30 lbs / 20 kg</td>
      </tr>
      <tr>
        <td>Net Weight w/ Fluid:</td>
        <td>40 lbs / 25 kg</td>
      </tr>
      <tr>
        <td>Power Cord:</td>
        <td>6ft / 1.8m </td>
      </tr>
      <tr>
        <td>Heater Watts:</td>
        <td>1400w</td>
      </tr>
      <tr>
        <td>Rating:</td>
        <td>110 Volt A.C. 50/60. 12 Amps</td>
      </tr>
      <tr>
        <td>Regulator Compliance:</td>
        <td>Canada Inc.</td>
      </tr>
      <tr>
        <td>Run time:</td>
        <td>Continuous</td>
      </tr>
      <tr>
        <td>Fluid Consumption:</td>
        <td>Burst - 127 cc/min. - Continuous - 57 cc/min.</td>
      </tr>
      <tr>
        <td>Competitive Comparison:</td>
        <td>20,000 CFM</td>
      </tr>
      <tr>
        <td>Shipping Specifications:</td>
        <td>
          <ul class="list-unstyled">
            <li>CLF-4520 Premier Fog Effects Generator 110V:<br>L: 24 in - 62 cm / W: 24 in - 62 cm / H: 24 in - 62 cm / 35 lbs - 16 kgs</li>
            <li>CLF-4520 Premier Fog Effects Generator 110V:<br>L: 24 in - 62 cm / W: 24 in - 62 cm / H: 24 in - 62 cm / 35 lbs - 16 kgs</li>
          </ul>
        </td>
    </table>
    <!--END OF SPECIFICATIONS SECTION-->
  </div>
  <!--FLUID CONSUMPTION CALCULATOR-->
  <div class="col-sm-6 col-md-4">
    <h2>Fluid Consumption Calculator</h2>
    <div id="fluid-consumption-calculator" class="panel panel-default">
      <div class="panel-body">
        <div class="number-of-cues input-group">
          <span class="input-group-addon"># of Cues</span>
          <input type="text" class="form-control">
        </div>
        <p>Duration of each cue:</p>
        <div class="continuous-time input-group">
          <span class="input-group-addon">Continuous (sec)</span>
          <input type="text" class="form-control">
        </div>
        <div class="burst-time input-group">
          <span class="input-group-addon">Burst (sec)</span>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="panel-footer">
        <p class="text-muted">Approx Fluid Required:</p>
        <p class="lead text-right">10 Liters / 3 Gallons</p>
      </div>
    </div>
  </div>
  <!--END OF FLUID CONSUMPTION CALCULATOR-->
</div>
<hr>
<div class="row">
  <!---DOWNLOADS-->
  <div class="col-md-8">
    <h2>Downloads</h2>
    <div id="downloads-list" class="list-group">
      <a href="#" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Fog Effects Generator Operator’s Manual <span>250kb <i class="fa fa-download"></i></span></a>
      <a href="#" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Fog Effects Generator Operator’s Manual <span>250kb <i class="fa fa-download"></i></span></a>
      <a href="#" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Fog Effects Generator Operator’s Manual <span>250kb <i class="fa fa-download"></i></span></a>
      <a href="#" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Fog Effects Generator Operator’s Manual <span>250kb <i class="fa fa-download"></i></span></a>
      <a href="#" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Fog Effects Generator Operator’s Manual <span>250kb <i class="fa fa-download"></i></span></a>
    </div>
  </div>
  <!--END OF DOWNLOADS-->
</div>
