<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Us</h1>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Ultratec Special Effects Inc. is a manufacturer and distributor of special effects equipment including fog, haze, bubbles, snow, dry ice, simulated flames, pyrotechnic controllers and indoor pyrotechnic effects.We are the leading provider of solutions for the entertainment industry.</p>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Canada</h3>
        </div>
        <div class="panel-body">
          <address>
            1960 Blue Heron Drive<br>
            London, Ontario<br>
            N6H 5L9M<br><br>
            Phone: 519-659-7972<br>
            Phone Toll Free: 800-388-0617<br>
            Fax: 519-659-7713<br><br>
            Business Hours:<br>
            Monday - Friday<br>
            9:00 a.m. - 5:00 p.m.<br>
          </address>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>USA</h3>
        </div>
        <div class="panel-body">
          <address>
            Unit 6N - 3605 32nd Street<br>
            Port Huron, Michigan<Br>
            48060<br><br>
            Phone: 519-659-7972<br>
            Phone Toll Free: 800-388-0617<br>
            Fax: 519-659-7713<br><br>
            Business Hours<br>
            Monday - Friday<br>
            9:00 a.m. - 5:00 p.m.<br>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Staff Members</h2>
    </div>
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-vp">VP</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Marnie Styles<br><small>Vice President</small></h2>
            <a href="">marnie.styles@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel: 519-951-3368<br>
              Cell: 416-931-9981<br>
              Toll Free: 888-655-6997<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-sales">Inside Sales</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Rachelle Robson<br><small>Inside Sales</small></h2>
            <a href="">rachelle.robson@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel: 519-951-3360<br>
              Cell: 519-868-4920<br>
              Toll Free: 866-534-6662<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-customer-service">Customer Service</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Sydney Wahl<br><small>Customer Service Representative</small></h2>
            <a href="">customerservice@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel: 519-951-3366<br>
              Toll Free: 866-534-5551<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-accounting">Accounting</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Stephen Habermehl<br><small>CFO</small></h2>
            <a href="">accounting@ultratecfx.com</a>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-accounting">Accounting</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Kat Wark<br><small>Accounting</small></h2>
            <a href="">accounting@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel: 519.951.3351<br>
              Toll Free: 866.534.5553<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-r-and-d">R&D</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Don Phillips<br><small>Research & Development</small></h2>
            <a href="">don.phillips@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel. 519.951.3352
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-service">Service</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Angelo DiPonio<br><small>Electronics Technician</small></h2>
            <a href="">service@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel. 519-951-3355<br>
              Toll Free: 866-534-5557<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-service">Service</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Mike Ray<br><small>Service - Groveland</small></h2>
            <a href="">service@ultratecfx.com</a>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-service">Service</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Tony Wikner<br><small>Supervisor - Groveland</small></h2>
            <a href="">service@ultratecfx.com</a>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
    <!--Staff block-->
    <div class="staff-member col-md-6">
      <div class="well well">
        <div class="row">
          <div class="col-md-12">
            <p><span class="badge badge-shipping">Shipping</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-4">
            <img src="http://placehold.it/250x250" alt="" class="img-responsive">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-8">
            <h2>Oscar Moniz<br><small>Shipping Supervisor/ Inventory Control</small></h2>
            <a href="">oscar.moniz@ultratecfx.com</a>
            <p><strong>Direct Lines:</strong><br>
              Tel. 519-951-3362<br>
              Toll Free: 866-441-9998<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End of staff block-->
  </div>
</div>

{% endblock %}
