<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<div class="spacer hidden-xs hidden-sm"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <div class="spacer"></div>
          <img src="img/cash-cap.png" class="hidden-xs img-responsive">
        </div>
        <div class="col-sm-10 col-md-10">
          <h1>Cash in the Caps</h1>
          <p class="lead">Thank you for using Ultratec Special Effects Premium Fluid.  We appreciate your business therefore we have a Cash in the Caps Fluid Program that you can participate in.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Please see below for details:</p>
          <p>To redeem your caps for swag simply collect the yellow “Cash in the Caps” labeled caps from any of Ultratec Special Effects 2L (1/2 Gal), 4L (1 Gal) or 20L (5 Gal) fluids and follow the instructions provided below:</p>
          <ol>
            <li>Select an item(s) from the swag listing below</li>
            <li>Collect the amount of  yellow labeled caps required for the item(s) of your choice</li>
            <li>Fill in the PDF order form -</li>
            <li>Cash In The Caps - Order.pdf</li>
            <li>Mail a copy of the form along with the total yellow caps required for your order to the appropriate address listed . The addresses can also be located on the bottom of the order form</li>
          </ol>
          <p><strong>Note: Allow 4 - 6 weeks for delivery for your Ultratec swag depending on availability.</strong></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4">
          <img src="img/swag-01.jpg" alt="ultratec t-shirt" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <img src="img/swag-02.jpg" alt="ultratec baseball cap" class="img-responsive img-rounded">
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Mailing addresses:</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <address>
              <strong>Canadian Customers</strong><br>
              Ultratec Special Effects, Inc.<br>
              Attn: Cash in the Caps<br>
              1960 Blue Heron Drive<br>
              London, Ontario, Canada<br>
              N6H 5L9
            </address>
          </li>
          <li class="list-group-item">
            <address>
              <strong>USA Customers</strong><br>
              Ultratec Special Effects, Inc.<br>
              Attn: Cash in the Caps<br>
              640 Gadson Street<br>
              Groveland, Florida USA<br>
              34736
            </address>
          </li>
          <li class="list-group-item">
            <address>
              <strong>European Customers</strong><br>
              Ultratec Special Effects GmbH<br>
              Attn: Cash in the Caps<br>
              Dieselstrasse 30-40<br>
              60314 Frankfurt am Main<br>
              Germany
            </address>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="swag-items">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear Dew-Rag</h2>
            <p class="text-muted">Item #: CPG 1004</p>
            <p>100% Cotton Fantail Dew Rag.</p>
            <p>Screened: Ultratec Special Effects logo</p>
            <p>One size fits most</p>
            <h3><span class="label label-success">Caps needed: 5</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear T-Shirt</h2>
            <p class="text-muted">Item #: CPG 1000</p>
            <p>100% Cotton T-Shirt</p>
            <p>Embroidered:  Ultratec Special Effects Logo on left sleeve</p>
            <p>Available Sizes: Small - 2 X-Large</p>
            <h3><span class="label label-success">Caps needed: 7</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear Ball Cap</h2>
            <p class="text-muted">Item #: CPG 1002</p>
            <p>100% Cotton Twill Ball Cap</p>
            <p>Embroidered:  Ultratec Special Effects Logo on front</p>
            <p>One Size Fits Most</p>
            <h3><span class="label label-success">Caps needed: 10</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear Golf Shirt</h2>
            <p class="text-muted">Item #: CPG 1001</p>
            <p>65/30%- Polyester/Cotton Blend Golf Shirt</p>
            <p>Embroidery: Ultratec Special Effects Logo on left sleeve </p>
            <p>Available Sizes: Small - 2 X-Large</p>
            <h3><span class="label label-success">Caps needed: 15</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear Long sleeved T-Shirt</h2>
            <p class="text-muted">Item #: CPG 1006</p>
            <p>100% Cotton Long Sleeved T-Shirt</p>
            <p>Embroidered: Ultratec Special Effects Logo on left chest</p>
            <p>Available Sizes: Small - 3 X-Large</p>
            <h3><span class="label label-success">Caps needed: 12</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear Sweatshirt</h2>
            <p class="text-muted">Item #: CPG 1005</p>
            <p>80/20% - Cotton/Polyester Fleece Sweatshirt</p>
            <p>Embroidery: Ultratec Special Effects Logo on left sleeve. </p>
            <p>Available Sizes: Medium - 3 X-Large</p>
            <h3><span class="label label-success">Caps needed: 18</span></h3>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" class="img-responsive">
          <div class="caption">
            <h2>Production Gear Spring Jacket</h2>
            <p class="text-muted">Item #: CPG 1003</p>
            <p>100% Nylon Shell Spring Jacket</p>
            <p>Embroidery: Ultratec Special Effects Logo on front left.</p>
            <p>Available Sizes: Medium - X-Large</p>
            <p class="text-muted"><small>*Garment may not be exactly as shown*</small></p>
            <h3><span class="label label-success">Caps needed: 30</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
