<!-- category-all-products.html -->
{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Fog</h1>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered category-all-products-table">
        <tbody>
          <tr>
            <td class="category-all-products-table--image">
              <a href=""><img src="img/495.png" alt=""></a>
            </td>
            <td class="category-all-products-table--name">
              <a href="">Premier Fog Effects Generator</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered category-all-products-table">
        <tbody>
          <tr>
            <td class="category-all-products-table--image">
              <a href=""><img src="img/UFD.png" alt=""></a>
            </td>
            <td class="category-all-products-table--name">
              <a href="">G3000 Fog Effects Generator</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered category-all-products-table">
        <tbody>
          <tr>
            <td class="category-all-products-table--image">
              <a href=""><img src="img/CPA.png" alt=""></a>
            </td>
            <td class="category-all-products-table--name">
              <a href="">Power Fog Industrial 9D</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered category-all-products-table">
        <tbody>
          <tr>
            <td class="category-all-products-table--image">
              <a href=""><img src="img/170.png" alt=""></a>
            </td>
            <td class="category-all-products-table--name">
              <a href="">Ultra Handy Fogger</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered category-all-products-table">
        <tbody>
          <tr>
            <td class="category-all-products-table--image">
              <a href=""><img src="img/CPS.png" alt=""></a>
            </td>
            <td class="category-all-products-table--name">
              <a href="">Show Fogger</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="spacer"></div>

{% endblock %}
