<!-- checkout-process-03.html -->
{% extends "layout.html" %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-success"><i class="fa fa-check-circle"></i> Thank you for your order</h1>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">Please print this page for your records</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <dl>
        <dt>Customer</dt>
        <dd>FLAS001</dd>
        <dt>Order Number</dt>
        <dd>ORDW00016</dd>
        <dt>P/O Number</dt>
        <dd>---</dd>
        <dt>Date</dt>
        <dd>2/23/2016</dd>
        <dt>Terms</dt>
        <dd>WIRE</dd>
        <dt>Payment Authorization</dt>
        <dd>--</dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <p><strong>Bill to:</strong></p>
      <address>
        Marnie Styles<br>
        Ultratec Special Effects<br>
        3665 Dove Road<br>
        Port Huron, MI<br>
        US<br>
        48060
      </address>
    </div>
    <div class="col-sm-4">
      <p><strong>Ship to:</strong></p>
      <address>
        Marnie Styles<br>
        Ultratec Special Effects<br>
        3665 Dove Road<br>
        Port Huron, MI<br>
        US<br>
        48060
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <p class="text-muted">Special Instructions:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloribus dignissimos est odio assumenda eum architecto, dolore vel! Asperiores iusto veniam illo adipisci, cupiditate ab. Vel blanditiis accusantium in repudiandae!</p>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped product-table">
          <thead>
            <tr>
              <th>Qty	Unit</th>
              <th>Product</th>
              <th>Description</th>
              <th>Unit Price</th>
              <th>Ext Price</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1	Each</td>
              <td>CLF2943</td>
              <td>LSG DMX Interface 220V</td>
              <td>$615.00 USD</td>
              <td>$615.00 USD</td>
            </tr>
            <tr>
              <td>1	Each</td>
              <td>CLF2943</td>
              <td>LSG DMX Interface 220V</td>
              <td>$615.00 USD</td>
              <td>$615.00 USD</td>
            </tr>
            <tr>
              <td>1	Each</td>
              <td>CLF2943</td>
              <td>LSG DMX Interface 220V</td>
              <td>$615.00 USD</td>
              <td>$615.00 USD</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td>Subtotal</td>
              <td>$615.00 USD</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td>Shipping</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td>Tax</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><strong>Total</strong></td>
              <td><strong>$1845.00 USD</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="index.html" class="btn btn-lg btn-primary pull-right">Continue Shopping</a>
    </div>
  </div>
</div>

<div class="spacer"></div>

{% endblock %}
