<!-- dealer-login.html -->
{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="dealer-login-panel" class="panel panel-default">
        <div class="panel-heading">
          <h1>Dealer login</h1>
        </div>
        <div class="panel-body">
          <p class="lead">Dealers please log in below to access special features of the web site.</p>
          <form>
            <div class="form-group">
              <label for="">Login name</label>
              <input type="" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control" id="" placeholder="">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">
              Forgot Password?
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot your password?</h4>
      </div>
      <div class="modal-body">
        <p>Enter your email address then click the Email My Password button. We'll email password to the address you have previously registered.</p>
        <form>
          <div class="form-group">
            <label for="">E-mail address<span class="text-danger">*</span></label>
            <input type="" class="form-control" id="" placeholder="">
          </div>
          Captha code here
          <div class="form-group">
            <label for="exampleInputPassword1">Please type the code above:</label>
            <input type="password" class="form-control" id="" placeholder="">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Email my password</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
