<!-- news.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>News</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!--news story-->
    <div class="col-md-12">
      <div class="well well-lg">
        <a href="news-individual.html"><h2>News title</h2></a>
        <p class="text-muted">Jan 20, 2016</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa non consequuntur earum facilis aut, dicta dolores laboriosam. Iure doloremque veritatis possimus ducimus velit dicta. Rem magni, sapiente optio hic velit eum commodi eveniet, ex veniam qui, aliquid iure voluptas quis harum enim excepturi ratione id ullam amet inventore laboriosam vitae odio aut. Ipsam cum veritatis aliquam, dolorem, nesciunt recusandae facere, numquam distinctio et sapiente deserunt. Recusandae, mollitia, laborum. Molestiae iusto consectetur laboriosam blanditiis voluptate animi dolore perferendis provident explicabo, deserunt distinctio dolores quo inventore voluptates excepturi. Aut veniam fugit distinctio. Nisi numquam recusandae eius dignissimos quam, sint molestias consequuntur quia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab cum, facilis libero optio voluptatum aliquid saepe eius sapiente reiciendis recusandae nulla omnis dolore accusantium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laboriosam perspiciatis ullam, vitae magni dignissimos deleniti ipsam optio nisi nesciunt ducimus obcaecati necessitatibus, voluptatum maxime fugiat assumenda fugit impedit iusto blanditiis autem aut enim! Inventore quod excepturi assumenda, esse illo qui error sunt exercitationem et, laudantium optio commodi. Omnis, saepe.</p>
      </div>
    </div>
    <!--end of news story-->
    <!--news story-->
    <div class="col-md-12">
      <div class="well well-lg">
        <a href=""><h2>News title</h2></a>
        <p class="text-muted">Jan 20, 2016</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa non consequuntur earum facilis aut, dicta dolores laboriosam. Iure doloremque veritatis possimus ducimus velit dicta. Rem magni, sapiente optio hic velit eum commodi eveniet, ex veniam qui, aliquid iure voluptas quis harum enim excepturi ratione id ullam amet inventore laboriosam vitae odio aut. Ipsam cum veritatis aliquam, dolorem, nesciunt recusandae facere, numquam distinctio et sapiente deserunt. Recusandae, mollitia, laborum. Molestiae iusto consectetur laboriosam blanditiis voluptate animi dolore perferendis provident explicabo, deserunt distinctio dolores quo inventore voluptates excepturi. Aut veniam fugit distinctio. Nisi numquam recusandae eius dignissimos quam, sint molestias consequuntur quia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab cum, facilis libero optio voluptatum aliquid saepe eius sapiente reiciendis recusandae nulla omnis dolore accusantium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laboriosam perspiciatis ullam, vitae magni dignissimos deleniti ipsam optio nisi nesciunt ducimus obcaecati necessitatibus, voluptatum maxime fugiat assumenda fugit impedit iusto blanditiis autem aut enim! Inventore quod excepturi assumenda, esse illo qui error sunt exercitationem et, laudantium optio commodi. Omnis, saepe.</p>
      </div>
    </div>
    <!--end of news story-->
    <!--news story-->
    <div class="col-md-12">
      <div class="well well-lg">
        <a href=""><h2>News title</h2></a>
        <p class="text-muted">Jan 20, 2016</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa non consequuntur earum facilis aut, dicta dolores laboriosam. Iure doloremque veritatis possimus ducimus velit dicta. Rem magni, sapiente optio hic velit eum commodi eveniet, ex veniam qui, aliquid iure voluptas quis harum enim excepturi ratione id ullam amet inventore laboriosam vitae odio aut. Ipsam cum veritatis aliquam, dolorem, nesciunt recusandae facere, numquam distinctio et sapiente deserunt. Recusandae, mollitia, laborum. Molestiae iusto consectetur laboriosam blanditiis voluptate animi dolore perferendis provident explicabo, deserunt distinctio dolores quo inventore voluptates excepturi. Aut veniam fugit distinctio. Nisi numquam recusandae eius dignissimos quam, sint molestias consequuntur quia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab cum, facilis libero optio voluptatum aliquid saepe eius sapiente reiciendis recusandae nulla omnis dolore accusantium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laboriosam perspiciatis ullam, vitae magni dignissimos deleniti ipsam optio nisi nesciunt ducimus obcaecati necessitatibus, voluptatum maxime fugiat assumenda fugit impedit iusto blanditiis autem aut enim! Inventore quod excepturi assumenda, esse illo qui error sunt exercitationem et, laudantium optio commodi. Omnis, saepe.</p>
      </div>
    </div>
    <!--end of news story-->
    <!--news story-->
    <div class="col-md-12">
      <div class="well well-lg">
        <a href=""><h2>News title</h2></a>
        <p class="text-muted">Jan 20, 2016</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa non consequuntur earum facilis aut, dicta dolores laboriosam. Iure doloremque veritatis possimus ducimus velit dicta. Rem magni, sapiente optio hic velit eum commodi eveniet, ex veniam qui, aliquid iure voluptas quis harum enim excepturi ratione id ullam amet inventore laboriosam vitae odio aut. Ipsam cum veritatis aliquam, dolorem, nesciunt recusandae facere, numquam distinctio et sapiente deserunt. Recusandae, mollitia, laborum. Molestiae iusto consectetur laboriosam blanditiis voluptate animi dolore perferendis provident explicabo, deserunt distinctio dolores quo inventore voluptates excepturi. Aut veniam fugit distinctio. Nisi numquam recusandae eius dignissimos quam, sint molestias consequuntur quia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ab cum, facilis libero optio voluptatum aliquid saepe eius sapiente reiciendis recusandae nulla omnis dolore accusantium.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laboriosam perspiciatis ullam, vitae magni dignissimos deleniti ipsam optio nisi nesciunt ducimus obcaecati necessitatibus, voluptatum maxime fugiat assumenda fugit impedit iusto blanditiis autem aut enim! Inventore quod excepturi assumenda, esse illo qui error sunt exercitationem et, laudantium optio commodi. Omnis, saepe.</p>
      </div>
    </div>
    <!--end of news story-->
  </div>
</div>

{% endblock %}
