<!-- rma.html -->
{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>RMA Request</h1>
      <p>To retrieve an RA number for the return of our machines requiring repairs/estimates, warranty claims, or the request to return products purchased within 30 days (excluding fluid) please fill in the below information and an RA number will be forwarded to you.  Please be sure to read our Warranty policy and contact us with any questions you may have.</p>
      <p><strong>**All machines received will have a minimum one hour labor charge for assessments.  Approved returns must be made within 30 days of the purchase receipt date.**</strong></p>
      <p>For all machine returns be sure to enter all required information including the serial number, the appropriate machine that is being returned and the reason for return.  On repair/estimate requests be as descriptive as possible as the more information we have to begin with the better we can assess the problem.  (Please note:  requesting an estimate will extend the time frame in which the machine repair is completed.)</p>
      <p>In the reason for the return field you can also make a note on any remotes, cords etc. that are being returned with the machine.  Also - please ensure that you remove all fluid from the machine prior to the return as it will be discarded upon receipt.</p>
      <p>Once you have your RA number please ship the unit back to the repair facility as specified on your RA and forward the tracking information to our customer service email below.  This will assist us in getting this repair completed in a timely manner.</p>
    </div>
  </div>
</div>

<div id="rma-form" class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Customer Account Number:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Customer account number:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Customer name*:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Contact*:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Address*:</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="" placeholder=""></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Telephone*:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Email*:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Return request type:</label>
                <div class="col-sm-8">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Repair - No Estimate Required
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Repair - Estimate Required
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                      Credit Request
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option4" disabled>
                      Warranty
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option5" disabled>
                      DOA
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Serial Number*:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Machine/Product Part Number and Description*:</label>
                <div class="col-sm-8">
                  <input type="" class="form-control" id="" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Reason for the return*:</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="" placeholder=""></textarea>
                </div>
              </div>
              <div class="col-sm-8 col-sm-offset-4">
                <p>* required fields</p>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-secondary">Submit RMA</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="warranty-info" class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="lead">If you have any questions - please feel free to contact Customer Service at:<br><a href="mailto:customerservice@ultratecfx.com">customerservice@ultratecfx.com</a> or by phone at 866-534-5551.</p>
      <h2>Warranty:</h2>
      <p>Hardware products come with a one year warranty on parts and labor. Unless stated otherwise, this will refer to manufacturer defects only.  All warranty is based on destination of the original sale. Any additional costs incurred are the responsibility of the Dealer and/ or the customer. Abuse or poor maintenance is not accepted. Proof of purchase and/or proof of sale for machines and Ultratec Special Effects fluids must always accompany all warranty returns.</p>
      <p>Using any fluid other than Ultratec Special Effects fluids voids all warranty on machines.</p>
      <p>An RA (Return Authorization) number must be noted on the outside of each box being returned to our facility. Any package(s) without an RA number clearly marked, will not be accepted by our receiving department. Freight on warranty items are freight prepaid to our facility and we will prepay freight back to your facility following repair. This will be done by the most economical means available. Should you require the item express-returned, the dealer is responsible for request indication and any difference in freight cost.</p>
    </div>
  </div>
</div>

{% endblock %}
