<!-- terms-conditions.html -->
{% extends "layout.html" %}

{% block content %}

{% include "partials/my-account-menu.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="default-template-well well well-lg">
        <h1>Terms And Conditions For Ultratec Special Effects Inc</h1>
        <hr>
        <h2>Approved Accounts:</h2>
        <p>2% 20 Days, Net 30 The Dealer may deduct a 2% quick pay discount when payment is issued and mailed 20 days from invoice date. The Dealer is responsible for all interest or surcharges for overdue accounts. Accounts that consistently remain overdue, may be subject to termination, with payment due in full upon notification.</p>

        <h2>New Accounts:</h2>
        <p>Open as Credit Card/Wire Transfer. Please allow 2 weeks to process applications for credit to establish terms.</p>

        <h2>F.O.B.:</h2>
        <p>All US/Canadian customer arranged freight/Canadian customer orders/Canadian Customer service repairs - Canada - 1960 Blue Heron Drive, London, Ontario, Canada N6H 5L9</p>
        <p>US customer orders - USA - 3665 Dove Road, Port Huron, Michigan, USA 48060<br>
        US customer service repairs - Florida - 640 Gadson Street, Groveland, Florida, USA 34736</p>

        <h2>COD/Credit Card:</h2>
        <p>We accept Visa, Mastercard and American Express. 2% quick pay discount does not apply when paying by Credit Card</p>

        <h2>Freight/Parcel Shipping Terms:</h2>
        <p>All orders will be shipped via our default shipping methods unless otherwise stated on the purchase order.</p>
        <p>Parcel shipments will be shipped via UPS/FedEx Ground/Express/Air prepaid and add determined by the requested delivery date stated on the purchase order. Purchase orders received with no requested delivery date will be shipped via UPS/FedEx Ground prepaid and add.</p>
        <p>Freight shipments will be shipped via prepaid and add determined by the requested delivery date stated on the purchase order. Purchase orders received with no requested delivery date will be shipped freight prepaid and add, ground/non-expedited.</p>
        <p>Please note: Customer arranged freight is shipped from London, ON. All documents including customs clearance and broker information must be received no later than one hour prior to scheduled pick up. Any tracing or tracking of packages will be done at our earliest convenience. All transportation must meet applicable transportation regulations. Ultratec Special Effects does not assume any additional cost for this and will pass any added expenses onto the Dealer.</p>


        <h2>Warranty:</h2>
        <p>Hardware products come with a one year warranty on parts and labor. Unless stated otherwise, this will refer to manufacturer defects only. All warranty is based on destination of the original sale. Any additional costs incurred are the responsibility of the Dealer and/ or the customer. Abuse or poor maintenance is not accepted. Proof of purchase or proof of sale must always accompany all warranty returns. An RA (Return Authorization) number must be noted on the outside of each box being returned to our facility. Any package(s) without an RA number clearly marked, will not be accepted by our receiving department. Freight on warranty items are freight prepaid to our facility and we will prepay freight back to your facility following repair. This will be done by the most economical means available. Should you require the item express-returned, the dealer is responsible for request indication and any difference in freight cost.</p>

        <p>Export Distributors are required to carry out the warranty repair, parts will be supplied by Ultratec.</p>
        <h2>Return Policy:</h2>
        <p>Return of any product must be done within 30 days of purchase. The package must be returned freight prepaid and the RA number clearly marked on the outside of the box.</p>

        <p>Minimum restocking fee is 25%. Once our facility has received the product a technical assessment will be completed to determine if an additional restocking fee needs to be issued.</p>
        <p>Only credits are issued to the dealers account. Any product not returned within 30 days is considered purchased.</p>
        <br><br>
        <p class="lead text-center">Prices and specifications are subject to change without notice.</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}
