@import "bootstrap.scss";
@import "mega-nav/MegaNavbar.scss";
@import "mega-nav/navbar-dark-dark.scss";
@import "bootstrap-image-gallery.scss";

body{background: $gray-lighter;}

.navbar{margin-bottom: 0;}
.btn-secondary{
  background: $brand-secondary;
  color: white;
}
.form-control{height: 33px;}
.table{
  td{
    vertical-align: middle !important;
  }
  .btn-secondary{
    background: none;
    color: $brand-secondary;
    border: 1px solid $brand-secondary;
    &:hover{
      color: darken($brand-secondary, 20%);
      border: 1px solid darken($brand-secondary, 20%);
    }
  }
}
.embed-responsive{
  margin-bottom: 20px;
}
.spacer{
  height: 30px;
}
.form-spacer{
  height: 33px;
}
.default-template-well{
  margin-top: 40px;
  margin-bottom: 20px;
}
.form-inline{
  .form-group{
    margin-bottom: 15px;
  }
}

dd{
  margin-bottom: 10px;
}

//Header//

#main-header{
  background: $brand-primary;
}

#dealer-nav{
  background: darken($brand-primary, 10%);
  color: white;
  padding-top: 10px;
  .account-name{
    margin-top: 4px;
  }
  a{
    color: lighten($brand-primary, 30%);
  }
  .btn{
    color: white !important;
  }
  @media (min-width: $screen-sm-min){
    .cart-info{
      p{
        float: right;
      }
    }
  }
}

//Homepage//

#homepage{
  background: white;
}
#masthead{
  color: white;
  background: url('../img/home-bg.jpg');
  background-size: cover;
  padding-bottom: 100px;
  @media (min-width: $screen-md-min){
    padding-bottom: 150px;
  }
  .row{
    div:first-of-type{
      padding-top: 30px;
      @media (min-width: $screen-md-min){
        padding-top: 70px;
      }
    }
    div:nth-of-type(2){
      padding-top: 30px;
      @media (min-width: $screen-md-min){
        padding-top: 145px;
      }
    }
  }
}
#product-categories{
  margin-top: -50px;
}
.product-category{
  height: 140px;
  display: table;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 150%;
  width: 50%;
  float: left;
  text-shadow: 0px 1px 10px #474747;
  &:hover{
    color: white;
  }
  span{
    display: table-cell;
    vertical-align: middle;
  }
  @media (min-width: $screen-md-min) {
    height: 220px;
    vertical-align: middle;
    width: 14.257%;
    font-size: 140%;
  }
  &:nth-child(1){
    background: url('../img/category-fog.jpg');
    background-size: cover;
  }
  &:nth-child(2){
    background: url('../img/category-low-lying.jpg');
    background-size: cover;
    background-position: bottom;
  }
  &:nth-child(3){
    background: url('../img/category-haze.jpg');
    background-size: cover;
    background-position: middle;
  }
  &:nth-child(4){
    background: url('../img/category-effects.jpg');
    background-size: cover;
  }
  &:nth-child(5){
    background: url('../img/category-confetti.jpg');
    background-size: cover;
  }
  &:nth-child(6){
    background: url('../img/category-fluid.jpg');
    background-size: cover;
    background-position: bottom;
  }
  &:nth-child(7){
    background: url('../img/category-fire.jpg');
    background-size: cover;
  }
}

#price-list-download{
  margin-top: 30px;
  a{
    margin-right: 20px;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

#news-events-section{
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: $screen-sm-max) {
    .btn{
      margin-bottom: 50px;
    }
  }
  .news-snippet{
    margin-bottom: 40px;
    h3{font-size: 18px;}
    p{
      line-height: 1.55em;
    }
  }
}

#important-dates{
  .well{
    margin-bottom: 5px;
    color: $gray;
  }
}

#cash-caps-advertisement{
  background: url('../img/ultratec-swag.jpg');
  background-size: cover;
  padding: 55px 0 55px 0;
  @media (min-width: $screen-sm-min){
    padding: 100px 0 65px 0;
  }
  .lead{
    color: white;
  }
}


//------PRODUCT PAGE------//

#product-tabs{
  border: 0;
  @media (min-width: $screen-md-min){
    li{
      border: 0;
      a{
        border: 0;
        font-size: 16px;
        padding: 20px 40px;
      }
    }
  }
}
#product-tabs-container{
  .tab-pane{
    padding-top: 40px;
    padding-bottom: 40px;
    background: white;
  }
}

.product-table{
  .cell-product-image{
    width: 75px;
    img{
      max-width: 75px;
    }
  }
  .cell-quantity{
    width: 130px;
    .form-control{
      width: 50px;
    }
  }
  .cell-buy, .cell-remove{
    width: 80px;
  }
}

#product-description{
  img{
    margin-top: 30px;
  }
}

#product-gallery{
  margin-top: 20px;
  margin-bottom: 40px;
}

#recommended-fluids{
  .list-group-item{
    overflow: hidden;
  }
  img{
    float: left;
    margin-right: 10px;
  }
}

#specifications-table{
  td{
    vertical-align: top;
    padding-bottom: 5px;
    &:first-child{
      text-align: right;
      color: $gray-light;
    }
    &:nth-child(2){
      padding-left: 20px;
      padding-bottom: 5px;
    }
  }
}

#downloads-list{
  a{
    span{
      float: right;
    }
  }
}

#fluid-consumption-calculator{
  .input-group-addon{
    width: 150px;
    text-align: right;
  }
  .number-of-cues{
    margin-bottom: 20px;
  }
  .continuous-time{
    margin-bottom: 10px;
  }
}

#parts-identification-blowouts, #wiring-diagrams, #service-photos, #service-videos{
  margin-bottom: 40px;
}


//----IMAGE GALLERY----//
#image-gallery{
  margin-top: 30px;
  margin-bottom: 30px;
  .thumbnail{
    img{
      width: 100%;
      height: 150px;
    }
  }
}

#youtube-channel{
  padding-top: 80px;
  background: white;
}

//----CASH IN THE CAPS----//

#swag-items{
  padding-top: 40px;
  background: white;
  .thumbnail{
    h2{
      font-size: 18px;
    }
  }
}

//------ABOUT US------//

.badge-vp{background: #A6102B;};
.badge-sales{background: #6B60E6;};
.badge-accounting{background: #F5CA08;};
.badge-customer-service{background: #A0BF1F;};
.badge-service{background: #27607C;};
.badge-shipping{background: #F28041;};
.badge-r-and-d{background: #2186C4;};


.staff-member{
  h2{
    margin-top: 0;
  }
}

//----RMA-----//

#rma-form{
  margin-top: 20px;
  margin-bottom: 20px;
}

#warranty-info{
  margin-bottom: 40px;
}

//------DEALER LOGIN------//

#dealer-login-panel{
  margin-top: 100px;
  margin-bottom: 100px;
  .panel-heading{
    padding: 20px 40px;
  }
  .panel-body,{
    padding: 40px;
  }
}

//------SEARCH RESULTS-----//

#search-results-nav{
  margin-bottom: 40px;
  .current-page{
    width: 50px;
  }
  .results-per-page{
    width: 140px;
  }
  .form-group{
    margin-right: 10px;
  }
}

//------ACCOUNT INFORMATION-----//

#my-account-menu{
  margin-top: 30px;
}

.account-info-panel{
  p.lead{
    margin: 0;
    padding: 0;
  }
}

#account-info-tabs{
  border: 0;
  @media (min-width: $screen-md-min){
    li{
      border: 0;
      a{
        border: 0;
        font-size: 16px;
        padding: 20px 40px;
      }
    }
  }
}
#account-info-tabs-container{
  .tab-pane{
    padding-top: 40px;
    padding-bottom: 40px;
    background: white;
  }
}

//CATEGORY-ALL-PRODUCTS//

.category-all-products-table{
  background: white;
  table-layout: fixed;
  @media (min-width: $screen-md-min){
    width: 49%;
    float: left;
    &:nth-child(odd){
      margin-right: 2%;
    }
  }
  .category-all-products-table--image{
    overflow: hidden;
    width: 30%;
    img{
      max-height: 125px;
    }
  }
  .category-all-products-table--name{
    width: 70%;
    padding-left: 20px;
    font-size: 130%;
  }
}

//------FOOTER-----//
footer{
  padding: 30px 0;
  background: $brand-primary;
  .row{
    &:first-child{
      margin-bottom: 20px;
    }
  }
  .phone-numbers, .social-icons{
    margin-top: 20px;
    @media (min-width: $screen-md-min){
      text-align: right;
    }
  }
  .social-icons{
    @media (min-width: $screen-sm-min){
      margin-top: -10px;
    }
  }
  .divider-line{
    border-top: 1px solid white;
  }
}
footer{
  color: white;
  a{
    color: white;
  }
}
